body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.title {
  font-size: 24px; /* Adjust as needed */
  color: #8A2BE2; /* Adjust to change the color */
  font-weight: 400; /* Adjust to make the text thicker or thinner */
  text-align: center;
  margin-bottom: 20px;
}

.listening {
  font-size: 15px; /* Adjust as needed */
  color: #FF4500; /* Adjust to change the color */
  font-weight: bold; /* Adjust to make the text thicker or thinner */
  text-align: center;
  margin-bottom: 10px;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px; /* Adjust as needed */
  color: #FFFFFF; /* Adjust to change the color */
  background-color: #4CAF50; /* Adjust to change the background color */
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #45a049; /* Adjust to change the hover background color */
}

.main-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.controls button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.controls button:hover {
  background-color: #4CAF50;
  color: white;
}

.controls button:disabled {
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
}
.results {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px; /* Adjust this value according to your needs */
}

.message {
  display: flex;
  max-width: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.sender {
  align-self: flex-start;
  background-color: #dcf8c6;
  flex-direction: row;
}

.sender .avatar {
  order: 1;
}

.sender p {
  order: 2;
}

.sender img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.receiver {
  align-self: flex-end;
  background-color: #ece5dd;
  flex-direction: row-reverse;
}

.receiver .avatar {
  order: 1;
}

.receiver p {
  order: 2;
}

.receiver img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}


.status {
  font-weight: bold;
  margin: 10px 0;
}

#listeningStatus {
  color: #007bff;
  display: block;
  width: 100%;
  line-height: 10px;
}

#listeningStatus:empty:before {
  content: "\00a0";
}

#speakingStatus {
  color: #4CAF50;
  display: block;
}
